@import '../../mixins.scss';





// }


.item-card {
    background-color: rgb(116, 7, 219);
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    grid-template-rows: 2.5rem 7rem 2rem;
    gap: 0.5em 0.5em;
    grid-template-areas:
        "header-left header-left header-right"
        "image properties result"
        ". edit add-buttons";
    width: 100%;

    border-top: 1px black solid;
    padding: 0 1rem;

    //header

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }




    &__header:nth-of-type(1) {
        grid-area: header-left;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 100%;
        justify-content: flex-start;
        background-color: red;

        padding: 0.1rem;

        &>input {
            flex: 0 1 70%;
            text-align: left;
            margin-left: 1rem;
        }

        &>h6 {
            margin-left: 1rem;
            margin-top: 0.4em;
        }

        &>button {
            @include button-link;
        }

    }

    &__header:nth-of-type(2) {
        grid-area: header-right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background-color: rgb(96, 4, 243);



        &>h6 {
            margin-left: 1rem;
            margin-top: 0.4em;
        }

        &>input {
            grid-area: header-right;
            flex: 0 0 5rem;
            width: 30px;
            text-align: left;
            margin-left: 0.3rem;
            text-align: center;
        }
    }

    //header-end

    &__image {
        grid-area: image;
        background-color: white;
        text-align: center;
        height: 100%;
        width: 100%;



        &>img {
            border: 1px solid black; ///!!
        }
    }

    &__properties {
        display: flex;
        justify-content: space-around;

        flex-direction: column;
        grid-area: properties;


        &>button {
            @include button-link;
            font-size: 0.8em;

            text-align: left;
        }
    }

    &__result {


        grid-area: result;
        background-color: darkorange;
        @include flex-center;

        &>button {
            height: 100%;
            aspect-ratio: 1.2/1;
            @include flex-center;
            flex-direction: column;
            border-radius: $border-radius;

            &>span {
                font-size: 0.8em;
                display: block;
            }
        }

    }


    &__edit {


        grid-area: edit;
        background-color: aqua;
        display: flex;
        align-items: center;

        &>button {
            @include button-link;
        }

    }





    &__add-buttons {
        grid-area: add-buttons;
        background-color: rgb(24, 181, 61);
        display: flex;

        &>button {
            @include button-link;
        }
    }
}