@import '../../mixins.scss';





.item-card {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    grid-template-rows: 2.5rem 7rem 2rem;
    gap: 0.5em 0.5em;
    grid-template-areas:
        "header-left header-left header-right"
        "image properties result"
        ". edit add-buttons";
    width: 100%;
    //border-top: 1px $secondary solid;
    padding: 0 1rem;
    padding-top: 1rem;

    &:not(:first-of-type) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    &_mobile {

        grid-template-columns: 1fr;
        grid-template-rows: 2.5rem 2rem 7rem 7rem 7rem 2rem 2rem;
        gap: 0.5em 0.5em;
        grid-template-areas:
            "header-left"
            "header-right"
            "image"
            "properties"
            "result"
            "edit"
            "add-buttons";
    }

    //header

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    &:last-of-type {
        border-radius: inherit;
    }

    &__header_left {
        grid-area: header-left;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        &>* {
            margin-left: 1rem;
        }

        &>input[type=text] {
            flex: 0 1 70%;
            text-align: left;
        }

        &>button {
            @include button-link;
        }

        &_name{
            font-weight: bold;
        }
    }

    &__header_right {
        grid-area: header-right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
 

        &>h6 {
            margin-left: 1rem;
            margin-top: 0.4em;
        }

        &>input {
            grid-area: header-right;
            flex: 0 0 5rem;
            width: 30px;
            text-align: left;
            margin-left: 0.3rem;
            text-align: center;
        }
    }

    //header-end

    &__image {
        grid-area: image;
        text-align: center;
        height: 100%;
        width: 100%;

        &>img {
            border: 1px solid $addiotional-accent-3;
            border-radius: 3px;
        }
    }

    &__properties {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        grid-area: properties;


        &>button {
            @include button-link;
            font-size: 0.8em;
            text-align: left;
        }
    }

    &__result {
        grid-area: result;
        @include flex-center;
        

        &>button {
            @include button-link;
            height: 100%;
            aspect-ratio: 1.2/1;
            @include flex-center;
            flex-direction: column;
            border: 1px solid $addiotional-accent;
            //background-color: var(--info);
            border-radius: $border-radius;

            &>span {
                font-size: smaller;
                display: block;
            }
        }

    }


    &__edit {
        grid-area: edit;
        display: flex;
        align-items: center;

        &>button {
            @include button-link;
        }
    }

    &__add-buttons {
        grid-area: add-buttons;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;
        
        &>button {

            @include button-link;
            margin-left: 1rem;
        }
    }
}