


.website-container {
    display: grid;
    min-height: 100vh;
    height: 100%;
    grid-template-columns: 5% 2fr 1fr 5%;
    grid-template-rows: auto 3em 6em auto 10em 10%;
    gap: 1em 2em;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
        "navigation navigation navigation navigation"
        ". back-bread questions ."
        ". notes order-steps ."
        ". current-items order-steps ."
        ". upload-new-item order-steps ."
        "footer footer footer footer";
}












