$primary: #222339;
$secondary: #767586;
$success: #00B38B;
$warning: #F9F871;
$white: #F1F1E6;
$danger: #E17D6B;
$gray-900: #222339;
$theme-color-interval: 9%;
$font-size-base: 1.1rem;
$border-radius-lg: 0.2rem;
$border-radius: 3px;
$font-family-sans-serif: 'Roboto';
$addiotional-accent:   #4994b1;
$addiotional-accent-2: #7a88f211;
$h5-font-size: $font-size-base * 1.2;
$enable-responsive-font-sizes: true;
$addiotional-accent-3: #b6b5bd;

h5 {
    letter-spacing: 0.01em;
}