@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.quote-page-card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}

.quote-page-card-box-header {
    height: 3rem;
    width: 100%;
    background-color: rgb(43, 226, 89);
    border-radius: 10px 10px 0 0; ///!!
    padding: 0 1em;
    display: flex;
    align-items: center;
    padding-top: 0.4em;

    &>h5 {
        color: black; //!!! 

    }

}

.quote-page-card-box-content {
    border-radius: 0 0 10px 10px; ///!!
    background-color: crimson;
    width: 100%;
    padding: 1rem;
}